.chosenSinger .row {
   position: relative;
   padding-top: 15rem;
}

.chosenSinger-title {
   text-align: center;
   font-size: 4rem;
   font-family: "mont2";
   margin-bottom: 2rem;
}

.chosenSinger-line {
   height: 0.1rem;
   background-color: var(--gray);
   margin-bottom: 5rem;
}
