.genres .row {
   position: relative;
   padding-top: 15rem;
}

.genre-title {
   text-align: center;
   font-size: 5rem;
   font-family: "mont2";
   margin-bottom: 2rem;
}

.genre-line {
   width: 10rem;
   height: 0.1rem;
   background-color: var(--gray);
   margin-bottom: 5rem;
}
