.header {
   background: linear-gradient(180deg, rgba(34, 34, 34, 1) 0%, rgba(34, 34, 34, 0.486) 100%);
   padding-top: 1.5rem;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 10;
}

.header-menu {
   display: none;
}

.header-menu__item {
   text-decoration: none;
   color: var(--white);
   margin: 0 1rem;
   transition: all 0.1s;
}

.header-menu__item:hover {
   color: var(--main-yellow);
}

.header-songs {
   cursor: pointer;
   position: relative;
   margin: 0 2rem;
}

.header-select:hover {
   color: var(--main-yellow);
}

.header-opts {
   color: var(--white);
   transition: all 0.1s;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   position: absolute;
   left: 0;
   top: 3.5rem;
   width: 14rem;
   border-radius: 0.5rem;
   background: rgb(34, 34, 34);
   box-shadow: 0px 0px 5px 4px var(--primary);
   transition: all 0.2s;
   transform: scale(0);
   transform-origin: top center;
}

.header-option {
   cursor: pointer;
   text-decoration: none;
   color: white;
   padding: 1rem 0rem;
   text-align: center;
}

.header-option::first-letter {
   text-transform: capitalize;
}

.header-option:hover {
   color: var(--main-yellow);
}

.header-option__line {
   width: 100%;
   height: 0.2rem;
   background-color: var(--main-yellow);
}

.header-songs--show .header-opts {
   transform: scale(1);
}

.header-select__icon {
   transition: all 0.3s;
}

.header-songs--show .header-select__icon {
   transform: rotate(180deg);
}

.header-badge {
   background-color: var(--main-yellow) !important;
   color: black !important;
   transform: scale(0.8);
}

.header-menu__login {
   background-color: var(--main-yellow);
   padding: 0.5rem 1rem;
   text-decoration: none;
   color: black;
   font-size: 1.7rem;
   border-radius: 0.5rem;
   transition: all 0.1s;
   border: 0.2rem solid var(--main-yellow);
}

.header-menu__login:hover {
   background-color: transparent;
   color: var(--main-yellow);
}

.isLogin {
   background-color: var(--main-yellow);
   font-size: 4rem;
   border-radius: 1rem;
   border: 0.2rem solid var(--main-yellow);
   color: black;
   cursor: pointer;
   transition: all 0.1s;
}

.isLogin:hover {
   background-color: transparent;
   color: var(--main-yellow);
}

.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.7rem;
}

.header-logo {
   width: 5rem;
   height: 5rem;
   cursor: pointer;
}

.logo-title {
   font-family: "mont2";
   display: none;
}

.search {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 0.5rem;
   overflow: hidden;
}

.search-icon {
   font-size: 2.5rem;
   background-color: #0d0d0daf;
   height: 4rem;
   padding-left: 0.3rem;
   cursor: pointer;
   transition: all 0.1s;
}

.search-icon:hover {
   background-color: var(--gray);
}

.search-input {
   width: 12rem;
   border: none;
   background-color: #0d0d0daf;
   height: 4rem;
   padding-left: 1rem;
   color: var(--white);
}
.search-input:focus {
   outline: none;
   border: 0.2rem solid var(--gray);
}

.uncollapser {
   font-size: 3.5rem;
}
