.header {
   background: linear-gradient(180deg, rgba(34, 34, 34, 1) 0%, rgba(34, 34, 34, 0.486) 100%);
   padding-top: 1.5rem;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 10;
}

.header-menu {
   display: none;
}

.header-menu__item {
   text-decoration: none;
   color: var(--white);
   margin: 0 1rem;
   transition: all 0.1s;
}

.header-menu__item:hover {
   color: var(--main-yellow);
}

.header-menu__Download {
   background-color: var(--main-yellow);
   padding: 0.5rem 1rem;
}

.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-logo {
   width: 5rem;
   height: 5rem;
}

.logo-title {
   font-family: "mont2";
   display: none;
}

.search {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 0.5rem;
   overflow: hidden;
}

.search-icon {
   font-size: 2.5rem;
   background-color: #0d0d0daf;
   height: 4rem;
   padding-left: 0.3rem;
   cursor: pointer;
   transition: all 0.1s;
}

.search-icon:hover {
   background-color: var(--gray);
}

.search-input {
   width: 12rem;
   border: none;
   background-color: #0d0d0daf;
   height: 4rem;
   padding-left: 1rem;
   color: var(--white);
}
.search-input:focus {
   outline: none;
   border: 0.2rem solid var(--gray);
}

.uncollapser {
   font-size: 3.5rem;
}
