.register {
   margin-top: 16rem;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.register-icon {
   font-size: 13rem;
   border: 0.3rem solid var(--white);
   border-radius: 50%;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

.register-email__wrapper,
.register-username__wrapper,
.register-confirm__wrapper,
.register-password__wrapper {
   display: flex;
   align-items: flex-end;
   gap: 1rem;
}

.register-email__icon,
.register-username__icon,
.register-confirm__icon,
.register-password__icon {
   font-size: 2rem;
}

.register-email__input,
.register-username__input,
.register-confirm__input,
.register-password__input {
   background-color: transparent;
   border: none;
   border-bottom: 0.2rem solid var(--gray);
   border-bottom-left-radius: 0.5rem;
   margin-top: 2rem;
   color: var(--main-yellow);
   font-size: 2rem;
}

.register-btn {
   margin-top: 5rem;
   padding: 0.3rem 5rem;
   background-color: transparent;
   color: var(--white);
   border: 0.2rem solid var(--gray);
   transition: all 0.2s;
   display: block;
   width: 20rem;
   margin-right: auto;
   margin-left: auto;
}

.register-password-visiblity {
   font-size: 2rem;
   cursor: pointer;
}

.register-password-visiblity:hover {
   color: var(--main-yellow);
}

.register-email__input:focus,
.register-username__input:focus,
.register-confirm__input:focus,
.register-password__input:focus {
   color: var(--main-yellow);
   outline: none;
}

.register-btn:hover {
   background-color: var(--main-yellow);
   color: black;
   border-color: var(--main-yellow);
}

.register-goRegister {
   color: var(--white);
   text-decoration: none;
   margin-top: 2rem;
   font-size: 1.8rem;
   transition: all 0.2s;
}

.register-goRegister:hover {
   color: var(--main-yellow);
}

.register-valid__email-messege,
.register-valid__password-messege {
   margin-top: 2rem;
   text-align: center;
   font-size: 1.8rem;
   color: red;
}
