@media (min-width: 350px) {
   .search-input {
      width: 20rem;
   }

   .contolers-volume-range {
      width: auto;
   }

   .singercard-img {
      width: 14rem;
      height: 14rem;
   }

   .singercard-wrapper {
      margin-top: auto;
      margin-bottom: auto;
   }
}

@media (min-width: 576px) {
   .logo-title {
      display: block;
   }

   .search-input {
      width: 25rem;
   }

   .topsongs-view {
      display: block;
   }

   .contolers-prev,
   .contolers-pause,
   .contolers-play,
   .contolers-next {
      margin-left: 3rem;
   }

   .singercard-wrapper {
      font-size: 1.6rem;
      margin-left: 5rem;
   }

   .singercard-name__label,
   .singercard-genre__label {
      padding-right: 0.5rem;
   }
}

/* md */

@media (min-width: 768px) {
   .uncollapser {
      display: none;
   }

   .header-menu {
      display: flex;
      align-items: center;
   }

   .permium {
      align-items: center;
      margin-top: 10rem;
   }

   .permium-img {
      height: auto;
   }

   .topsongs-title {
      font-size: 4rem;
   }

   .trend-card {
      flex-direction: row;
      max-width: 46.5rem;
      margin-bottom: 3rem;
      margin-left: auto;
      margin-right: auto;
      background-color: var(--section-bg);
   }

   .trend-card__img {
      width: 14rem;
   }

   .trend-card__song {
      font-size: 1.7rem;
      text-align: left;
   }

   .trend-card__singer {
      font-size: 1.5rem;
      text-align: left;
   }

   .trend-card__icon {
      font-size: 4rem;
   }

   .trend-card__icon {
      margin-left: auto;
   }

   .login-title {
      font-size: 3rem;
   }

   .login-email__input,
   .login-password__input {
      width: 30rem;
   }

   .register-email__input,
   .register-username__input,
   .register-confirm__input,
   .register-password__input {
      width: 30rem;
   }

   .singercard-wrapper {
      margin-left: 0;
      /* padding-right: 0.5rem; */
   }
}

/* lg */

@media (min-width: 992px) {
   .header-menu__item {
      margin: 0 3rem;
      font-size: 2rem;
   }

   .header-menu__login {
      margin-left: 2rem;
   }

   .header-logo {
      width: 6rem;
      height: 6rem;
   }

   .land-title {
      font-size: 5rem;
   }

   .land {
      height: 90rem;
   }

   .chosensong-same {
      margin-left: 2rem;
      margin-top: 0;
   }

   .musicCard-img {
      max-width: 24rem;
   }

   .header-select {
      font-size: 2rem;
   }

   .singercard-wrapper {
      margin-left: 5rem;
   }
}

/* xl */

@media (min-width: 1200px) {
   .chosensong-same {
      margin-left: 10rem;
      margin-top: 0;
   }

   .singercard-img {
      width: 26rem;
      height: auto;
   }

   .singercard-name__label,
   .singercard-name__main,
   .singercard-genre__label,
   .singercard-genre__main {
      font-size: 1.8rem;
   }

   .singercard-btn {
      font-size: 1.5rem;
      width: fit-content;
   }

   .singercard-wrapper {
      margin-left: 5rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
   }
}

/* xxl */

@media (min-width: 1400px) {
   .topsongs-card__img {
      width: 14rem;
      margin-right: 4rem;
   }

   .singercard-img {
      width: 29rem;
   }
}
