@media (min-width: 350px) {
   .search-input {
      width: 20rem;
   }
}

@media (min-width: 576px) {
   .logo-title {
      display: block;
   }

   .search-input {
      width: 25rem;
   }

   .topsongs-view {
      display: block;
   }
}

/* md */

@media (min-width: 768px) {
   .uncollapser {
      display: none;
   }

   .header-menu {
      display: block;
   }

   .permium {
      align-items: center;
      margin-top: 10rem;
   }

   .permium-img {
      height: auto;
   }

   .topsongs-title {
      font-size: 4rem;
   }
}

/* lg */

@media (min-width: 992px) {
   .header-menu__item {
      margin: 0 3rem;
      font-size: 2rem;
   }

   .header-logo {
      width: 6rem;
      height: 6rem;
   }

   .land-title {
      font-size: 5rem;
   }

   .land {
      height: 90rem;
   }
}

/* xl */

@media (min-width: 1200px) {
}

/* xxl */

@media (min-width: 1400px) {
   .topsongs-card__img {
      width: 14rem;
      margin-right: 4rem;
   }
}
